<%-include("./_partials/header")-%>
<head>
    <style>
        body {
            min-height: 100vh;
        }
        h1, p{
            text-align: center;
        }
    </style>
</head>
<body>
    <main class="mt-32 flex flex-row justify-center items-center">
        <div class="flex justify-center items-center">
            <img class="h-3/5 w-3/5"
                src="https://i.ibb.co/HYG2BHT/transparent-lol-face.png" alt="transparent-lol-face" border="0">
            </div>
            <section class="flex flex-col justify-center items-center gap-10">
                <h1 class="text-5xl">Oopss...</h1>
                <p class="text-6xl">It is Error <b>404</b>!!!</p>
                <p class="text-3xl"> Looks like the page you are looking for does not exist</p>
                <a href="/" class="bg-cyan-900 text-white rounded-lg px-4 py-2 duration-200 hover:bg-red-100 hover:text-cyan-900
                border-cyan-900 border-4">Go back home</a>
            </section>
        <div class="flex justify-center items-center">
            <img class="h-3/5 w-3/5" 
                src="https://i.ibb.co/VDd32WS/mirror-lol-face.png" alt="mirror-lol-face" border="0">
        </div>
    </main>
</body>