<%-include("./_partials/header")-%>
<body>
    <main class="my-16 mx-auto w-2/3 flex flex-col justify-center items-center gap-16 text-2xl">
        <h1 class="text-5xl">911 Report</h1>
        <div class="flex flex-col items-center gap-8">
            <p>This is a platform where you can post any event in your surrounding.</p>
            <p>With this platform, JPD is trying to make your reporting experience more enjoyable.</p>
        </div>
        <div class="flex flex-row gap-12">
            <a href="/reports/add" class="bg-cyan-900 text-white rounded-lg px-4 py-2 duration-200 hover:bg-red-100 hover:text-cyan-900
                border-cyan-900 border-4">Post Report Now</a>
            <a href="/reports" class="bg-cyan-900 text-white rounded-lg px-4 py-2 duration-200 hover:bg-red-100 hover:text-cyan-900
                border-cyan-900 border-4">List Report</a>
        </div>
    </main>
</body>
</html>