<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/4551/4551117.png">
    <title>911 Reports</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
      *{
        margin: 0;
        padding: 0;
      }
      html {
        font-family: 'Roboto', sans-serif;
        color: rgb(22 78 99);
      }
      main{
        padding-top: 5rem;
      }
      .mySticky {
        position: fixed;
        top: 0;
      }
    </style>
  </head>
  <body class="bg-red-100">
    <nav class="mySticky z-50 w-full flex justify-between items-center text-white bg-cyan-900 h-20 px-16 text-xl">
        <div class="text-3xl">
            <b class=""><h1><span class="text-red-600">911</span> Report</h1></b>
        </div>
        <div class="flex flex-row justify-between items-center w-52">
            <a href="/" class="duration-200 hover:text-2xl">Home</a>
            <a href="/reports" class="duration-200 hover:text-2xl">List Report</a>
        </div>
    </nav>
</body>
</html>
